<h1>Composite Profiles:</h1> 

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<table class="composite">
  <tr>
    <% @table.first.each_key do |key| %>
      <th class="consensus"><%= key %></th>
    <% end %>
  </tr>
  <% @table.each do |row| %>
    <tr>
      <% row.each_value do |value| %>
        <td> <%= raw value %> </td>
      <% end %>
    </tr>
  <% end %>
  
</table>
